body {
  background-image: linear-gradient(-85deg, #052727, #052727, #449f8a);
  box-sizing: border-box;
}

.header--logo {
  scale: 0.7;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-register-card {
  display: flex;
  flex-direction: column;
}

.display-register-card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 5px 50px;
  width: 70vw;
}

.pre-visualizer-h1 {
  color: #2fc18c;
  font-family: Epilogue , sans-serif;
  font-style: italic;
  font-weight: 800;
}

.register-card-h1 {
  color: #2fc18c;
  font-family: Epilogue , sans-serif;
  font-style: italic;
  font-weight: 800;
}

.register-card-label-type1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.register-card-label-type2 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.register-card-text {
  color: #3d495c;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-weight: 700;
}

.register-card-input-type1 {
  border: none;
  border-bottom: 1px solid #3d495c;
}

.register-card-input-type2 {
  border: 1px solid #29313d;
  padding: 5px;
}

.trunfo-save {
  display: flex;
}

.image-card {
  max-width: 350px;
}

.filters-cards-list {
  align-items: center;
  background-color: #036b52;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.filters-cards-lists-input {
  background-color: #036b52;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin: 0 10px;
  padding: 10px;
  width: 300px;
}

.filters-cards-lists-input::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

.filters-cards-lists-input:disabled {
  color: rgb(255, 255, 255, 0.3);
}

.filters-cards-lists-input:disabled::placeholder {
  color: rgb(255, 255, 255, 0.3);
}

.cards-list-h1 {
  color: white;
  font-style: italic;
  font-weight: 800;
}

.super-trunfo {
  background-color: rgb(255, 174, 0);
  border-radius: 0 10px;
  color: white;
  font-weight: 600;
  padding: 5px;
  text-transform: capitalize;
  width: fit-content;
}

.card--list {
  display: flex;
  justify-content: space-evenly;
}

.card--list--item {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card--list--item button {
  margin-top: 15px;
}

.save--button {
  background-color: #2fc18c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.save--button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.remove--button {
  background-color: red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.card {
  background: rgb(3, 107, 82);
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  outline: 8px solid white;
  padding: 13px;
  width: 315px;
}

.card h2 {
  align-items: center;
  background-color: rgb(2, 48, 49);
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  font-size: 28px;
  height: 39px;
  justify-content: flex-end;
  margin: 0;
  overflow: hidden;
  padding: 0 15px;
  text-align: right;
  white-space: nowrap;
}

.card img {
  display: block;
  height: 200px;
  text-indent: 100%;
  width: 100%;
}

.card p {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 300px;
  margin: 5px;
  max-height: 45px;
  max-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}

.card ul {
  background-color: white;
  border-radius: 0 0 10px 10px;
  list-style: none;
  margin: 10px 0 0;
  padding: 20px;
}

.card ul li {
  align-items: center;
  background-color: rgb(2, 48, 49);
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  justify-content: space-between;
  margin: 5px;
}

.card ul li h3 {
  align-items: center;
  background-color: rgb(240, 242, 245);
  border: 1px solid rgb(240, 242, 245);
  border-radius: 9px 0 0 9px;
  color: rgb(61, 73, 92);
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding-left: 10px;
}

.card ul li span {
  overflow: hidden;
  text-align: center;
  width: 40px;
}

.card div {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.card--rare {
  background-color: teal;
  border-radius: 0 10px;
  color: white;
  font-weight: 600;
  padding: 5px;
  text-transform: capitalize;
  width: fit-content;
}

.sucess {
  padding-left: 2px;
}

.form-register-card label div {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
